<!-- SEARCH FOR 'ChangeME' and REPLACE with your own content -->
<!DOCTYPE html>
<html>
  <head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <meta charset="utf-8">
    <title>ChangeMe</title>

<%= console.log('Hi There')%>
<style>
</style>

  </head>


  <body>
  <header class="navbar-inverse">
    <div class="container">
        <nav class="navbar">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Henrietta's Hidden Wiki</a>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="active"><a href="/users/signup">Sign Up<span class="sr-only">(current)</span></a></li>
              <li><a href="/search">Search</a></li>
              <li><a href="/articles/latest">Latest</a></li>

              <form action="/users"
                    method="post"
                    class="navbar-form navbar-right">
                <div class="form-group">
                  <input type="text"
                         name="user[email]"
                         placeholder="Email"
                         class="form-control">
                </div>
                <div class="form-group">
                  <input type="password"
                         name="user[password]"
                         placeholder="Password"
                         class="form-control">
                </div>
                <button type="submit" class="btn btn-success">Sign in</button>
              </form>
            </ul>
          </div><!-- /.navbar-collapse -->
      </nav>
    </div>
  </header>

  <%- body %>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
</html>
