<h3>New article for <%= author %></h3>

<form action="/latest" method="post">
  <input type="textarea"
         name="article[content]"
         placeholder="Content of article" ><br/>
  <input type="submit">
</for
