<h3>New article by <%- currentUser.firstName %>
</h3>
<%=console.log("AHHHH",currentUser)%>

<form action="/articles/latest" method="post">
  <div class="form-group">
    <input type="text"
           class="form-control"
           name="article[title]"
           placeholder="title">
  </div>
  <div class="form-group">
    <textarea
              class="form-control"
              rows="10"
              name="article[content]"
              placeholder="Content of article" >
    </textarea>
</div>
         <br/>
  <input type="submit">
</for
