<div class="panel panel-danger">
  <div class="panel-heading">
    <h3 class="panel-title">Login incorrect. Please try again or sign-up</h3>
  </div>
  <div class="panel-body">
    <form class="" action="/users/signup" method="post">
      <label for="user[fistName]">First Name</label><br/>
      <input type="text"
             name="user[firstName]"
             placeholder="First Name"><br/>
      <label for="user[lastName]">Last Name</label><br/>
      <input type="text"
             name="user[lastName]"
             placeholder="Last Name"><br/>
      <label for="email">Email</label><br/>
      <input type="text"
             name="user[email]"
             placeholder="company email"><br/>
      <label for="password">Password</label><br/>
      <input type="password" name="user[password]" ><br/>
      <input type="submit" value="Sign Up!">
    </form>

  </div>
</div>
